// 通用背景色
$baseBgColor: #23262D;
// 公共的padding
$basePadding: 20px;
// 通用头部高度
$baseNavHeight: 40px;
// flex居中
@mixin flexcenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
